// Variables

//Colors
$primary-color: #f6ad7c;
$base-color: #3d2c3a;
$secondary-color: #2E9475;
$color3: #D0405F;

//Text specs
$h1-size: 30px;
$font-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif;;

//div specs
$radius: 10px;